<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans>
        <bean id="CsvReader" class="org.homework.utils.CsvReaderImpl">
            <constructor-arg value="questions.csv"/>
        </bean>
    </beans>
    <beans>
        <bean id="ExamPrinter" class="org.homework.utils.ExamPrinterSimple">
        </bean>
    </beans>
</beans>
