<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }

        .main-col {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 120px;
            width: 100%;
        }
    </style>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')">ONLY ADMIN CAN SEE ME!</div>
<div class='main-col'>
    <div>
        <h1>All books list:</h1>
        <div class="row">
            <button onclick="location.href='/book'" type="submit">Add new book..</button>
        </div>
        <br>
        <div class="row">
            <button onclick="location.href='/author'" type="submit">Add new author..</button>
        </div>
        <br>
        <table class="books">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td>
                    <a href="book.html" th:href="@{/book/{id}(id=${book.id})}" th:text="${book.title}">Book title</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div align="right">
        <table>
            <tr>
                <td>Signed in as <b th:text="${#authentication.getPrincipal().getUsername()}">username</b></td>
            </tr>
            <tr>
                <td><b th:text="${#authentication.getPrincipal().getAuthorities()}">authorities</b></td>
            </tr>
            <tr align="right">
                <td>
                    <button onclick="location.href='/logout'" type="submit">logout</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
