<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="row">
    <button type="submit">Delete author and all his books..</button>
</div>
<!-- Author edition -->
<form id="edit-form" action="author.html">
    <h1>Author Info:</h1>

    <div class="row">
        <label for="holder-input-name">Name:</label>
        <input id="holder-input-name" name="name" type="text" value="Name" th:value="${author.name}"/>
    </div>
    <br>
    <table class="books">
        <thead>
        <tr>
            <th>Author books</th>
        </tr>
        <tr>
            <th style="font-weight: bold">Title</th>
            <th style="font-weight: bold">Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${author.books}">
            <td>
                <a th:href="@{/book/{id}(id=${book.id})}" href="book.html" th:text="${book.title}">Book title</a>
            </td>
            <td th:text="${book.genre.name}">1</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <button onclick="location.href='/'" type="button">Back to book list</button>
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
