<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="edit-form" action="book.html">
    <h1>Book Info:</h1>

<!--    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="ID" th:value="${book.id}"/>
    </div>-->

    <div class="row">
        <label for="holder-input-title">Title:</label>
        <input id="holder-input-title" name="title" type="text" readonly="readonly" value="Title" th:value="${book.title}"/>
    </div>

    <div class="row">
        <label for="holder-input-genre">Genre:</label>
        <input id="holder-input-genre" name="genre" type="text" readonly="readonly" value="Genre" th:value="${book.genre.name}"/>
    </div>

    <div class="row">
        <label for="holder-input-author">Author:</label>
        <input id="holder-input-author" name="genre" type="text" readonly="readonly" value="Genre" th:value="${author.name}"/>
    </div>

    <table class="comments">
        <thead>
        <tr>
            <th>Book comments</th>
        </tr>
        <tr>
            <!--<th>ID</th>-->
            <th>Date</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${book.comments}">
            <!--<td th:text="${comment.id}">1</td>-->
            <td th:text="${comment.date}">1</td>
            <td th:text="${comment.text}">1</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
