version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mongodb
    privileged: true
    image: my-library:1.0
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - MONGODB_URI=mongodb://mongodb:27017
      - MONGODB_STATUS_HOST=localhost
      - MONGODB_STATUS_PORT=27017
  mongodb:
    image: mongo:4.4
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME admin-user
      - MONGO_INITDB_ROOT_PASSWORD admin-password
      - MONGO_INITDB_DATABASE admin

